body {
	background-color: pink;
	font-family: sans-serif;
	border: 2px dotted beige;
	padding: 30px;
}

.heading {
	font-size: 40px;
	font-family: courier;
	color: red;
	text-align:center;
}

h2 {
	color: red;
	font-family: system-ui;
	font-size: 20px;
	font-style: oblique 50deg;
}
	
p {
	color: "#763527";
	font-family: Georgia, serif;
	font-style: normal;
	font-weight: 500;
	font-stretch: expanded;
	margin: 20px "#FFDAF7";
	
}
