<!-- Isabella Jia
Cold Cucumbers: Lauren Lee, Ruby Friedman
IntroCS pd2 sec02
HW05 -- Stuylin'
2021-02-018 -->

/* changes the whole body of the website, including the background color, etc. */
body {
	background-color: BurlyWood;
	border: 2px dotted beige;
	padding: 30px;
}

/* changes the heading title only */
.heading {
	font-size: 40px;
	font-family: courier;
	color: GoldenRod;
	text-align:center;
}

/* changes the font and color of the subheadings from the TOC */
h2 {
	color: GoldenRod;
	font-family: system-ui;
	font-size: 27px;
	font-style: oblique 50deg;
}

/* changes the color and font of paragraph content */
p {
	color: SaddleBrown;
	font-family: Georgia, serif;
	font-style: normal;
	font-weight: 500;
	font-stretch: expanded;
	background-color: "#FFDAF7";
	font-size: 20px;
	
}

/* changes how the TOC looks like */
li {
	font-style: italic;
	color: "#E9967A";
	font-size: 20px
}

/* changes color of TOC text */
h1 {
	color: SaddleBrown;
}

/* changes color of Thinker text */
h3 {
	color: SaddleBrown;
}
