body {
	background-color: pink;
	font-family: sans-serif;
	border: 2px dotted beige;
	padding: 30px;
}

.heading {
	font-size: 40px;
	font-family: courier;
	color: PeachPuff;
	text-align:center;
}

h2 {
	color: GoldenRod;
	font-family: system-ui;
	font-size: 20px;
	font-style: oblique 50deg;
}
	
p {
	color: SaddleBrown;
	font-family: Georgia, serif;
	font-style: normal;
	font-weight: 500;
	font-stretch: expanded;
	background-color: "#FFDAF7";
	
}

li {
	font-style: italic;
	color: "#E9967A";
}

h1 {
	color: DarkSalmon;
}

h3 {
	color: DarkSalmon;
}
